[submodule "puppet/modules/apache"]
	path = puppet/modules/apache
	url = git@github.com:puppetlabs/puppetlabs-apache.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = git@github.com:puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/concat"]
	path = puppet/modules/concat
	url = git@github.com:puppetlabs/puppetlabs-concat.git
[submodule "puppet/modules/shibboleth"]
	path = puppet/modules/shibboleth
	url = git@github.com:Aethylred/puppet-shibboleth.git
[submodule "puppet/modules/shellvar"]
	path = puppet/modules/shellvar
	url = https://github.com/hercules-team/augeasproviders_shellvar.git
[submodule "puppet/modules/provider"]
	path = puppet/modules/provider
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "datacentred-ldap"]
	path = puppet/modules/ldap
	url = https://github.com/datacentred/datacentred-ldap.git
[submodule "puppet/modules/collectd"]
	path = puppet/modules/collectd
	url = https://github.com/pdxcat/puppet-module-collectd.git
[submodule "puppet/modules/graphite"]
	path = puppet/modules/graphite
	url = https://github.com/echocat/puppet-graphite.git
